<!doctype html>
<html lang="en" ng-app="productCatalogue">
<head>
    <title>Product catalogue</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>

<div class="header">
</div>

<div class="container-fluid">
    <div class="row categories content" ng-controller="products">
        <div class="col-sm-4 bar">
            <p>Sports</p>
            <div ng-repeat="sport in products | filter:{category:'Sport'}">
                <p><input type="checkbox" name="{{sport.name}}" ng-click="updateBasket(sport)" >{{sport.name}}</p>
            </div>
        </div>
        <div class="col-sm-4 bar">
            <p>News</p>
            <div ng-repeat="news in products | filter:{category:'News'}">
                <p><input type="checkbox" name="{{news.name}}" ng-click="updateBasket(news)" >{{news.name}}</p>
            </div>
        </div>
        <div class="col-sm-4 bar">
            Basket
            <br/>
            <div ng-repeat="products in basket">
                <p>{{products.name}}</p>
            </div>
            <button type="button" class="btn btn-default checkoutbtn" onclick="alert('Please confirm selected itmes')">Checkout
            </button>
        </div>
    </div>
</div>

<div class="footer">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
