.header{border-style: solid; border-width: 1px; height: 100px; margin-bottom: 10px; padding: 1px;}
.footer{border-style: solid; border-width: 1px; height: 100px; margin-top: 10px; padding: 1px;}
.content [class*="col-"] {padding: 15px; border: 1px solid #777; overflow: auto;}
.row.content{height: 300px}
.bar{padding-top: 20px; height: 100%;}
.checkoutbtn{position:absolute; width:100px; right:10px; bottom:10px;}